// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
// COLORS 
$white: #f9f7f7;
$light: #dbe2ef;
$blue: #3f72af;
$dark: #112d4e;